<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan Targets</title>
    <link rel="stylesheet" href="/static/styles/notification.css">
    <link rel="stylesheet" href="/static/styles/body.css">
    <link rel="stylesheet" href="/static/styles/history.css">
    {% include 'fonts.html' %}
    {% include 'header.html' %}
    {% include 'notification.html' %}
</head>
<body>
    <div class="container">
        <h1>Scan History</h1>
        <hr>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Target Domain</th>
                        <th>Last Scan</th>
                        <th>Start</th>
                        <th>Scan Time Elapsed</th>
                    </tr>
                </thead>
                <tbody>
                    {% if targets %}
                        {% for target in targets %}
                            <tr>
                                <td data-label="No.">{{ loop.index }}</td>
                                <td data-label="Name">{{ target.name }}</td>
                                <td data-label="Target Domain">{{ target.domain }}</td>
                                <td data-label="Last Scan">{{ target.note }}</td>
                                <td data-label="Start">{{ target.added_on.strftime("%B %d, %Y, %I:%M %p") }}</td>
                                <td data-label="Scan Time Elapsed">N/A</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6" class="empty-message">No scan history available.</td>
                        </tr>
                    {% endif %}
                </tbody>
                
            </table>
        </div>
    </div>
</body>
</html>
